<style type="text/css">
  body .app{
    background: #c12e3b;
    background: #5a9ab7;
  }
</style>
<div class="app grey-900">
  <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <img class="img-responsive" src="images/stamina.png">
        <!--<span class="m-l inline"></span>-->
      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm">
        Por favor escribe tu cuenta de correo electrónico y contraseña para iniciar
        <div ng-if="error" class='alert ng-isolate-scope alert-danger alert-dismissable text-center'>
          Usuario o contraseña invalidos.
        </div>
      </div>
      <form name="sigin-form" ng-submit='login()'>
        <div class="md-form-group float-label">
          <input type="email" class="md-input" ng-model='email' required>
          <label>Correo Electrónico</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model='password' required>
          <label>Contraseña</label>
        </div>
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox"><i class="grey-900"></i> No cerrar sesión
          </label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised grey-900 btn-block p-h-md" style="background:#E02939 !important;">Acceder</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div class="m-b">
      	<button md-ink-ripple class="md-btn ">Olvidé mi contraseña</button>
      </div>
      <div>
      	<button ui-sref='signup' md-ink-ripple class="md-btn">Aún no me he registrado <u>Registrarme</u></button>
      </div>
    </div>
  </div>
</div>
