<div class="box-inner padding">
	<div class="row row-center">
		<div class="col-md-8 col-center">
			<a href="aplicationform" class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</a>
			<div class="pull-right">
				<button class="md-btn md-raised m-b btn-fw bg-white waves-effect">Editar</button>
			</div>
		</div>
	</div>
	<div class="row row-center">
		<div class="col-md-8 col-center">
			<div class="panel panel-card md-whiteframe-z2">
				<div class="p">
					<span class="label label-lg bg-primary pos-rlt m-r-xs pull-right">
						<b class="arrow bottom b-primary"></b>Aplica Calificación
					</span>
					<h4><strong>LA PREGUNTA Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</strong></h3>
					<h4>LA AYUDA Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
					<h4>LA NOTA, si es que existe</h4>
				</div>
			</div>
			<div class="panel panel-card md-whiteframe-z2">
				<div class="p">
					<div class="row">
						<div class="col-md-12">
							<strong>Pregunta:</strong>
							<textarea class="form-control"></textarea>
						</div>
						<div class="col-md-12">
							<strong>Ayuda:</strong>
							<textarea class="form-control"></textarea>
						</div>
						<div class="col-md-12">
							<strong>Nota:</strong>
							<textarea class="form-control"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<br>
							<button class="btn btn-md btn-success waves-effect pull-right">Guardar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>