<script type="text/javascript" src="jqueryTimepicker/lib/bootstrap-datepicker.js"></script>
<script>
      $.fn.datepicker.dates['es'] = {
          days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
          daysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
          daysMin: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
          months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
          monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
          today: "Hoy",
          clear: "Limpiar"
          };
      $(function(){
        $("#datePicker1").datepicker({
          language:"es",
          orientation:"top auto",
          format: "yyyy-mm-dd",
          autoclose: true
        });
        $("#datePicker2").datepicker({
          language:"es",
          orientation:"top auto",
          format: "yyyy-mm-dd",
          autoclose: true
        });
      });
</script>
<div class="box-inner padding">
  <div class="row row-center">
    <div class="col-md-7 col-center">
      <button class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</button>
    </div>
  </div>
  <div class="row row-center">
    <div class="col-md-7 col-center">
      <div class="card">
        <div class="card-heading">
          <h2>Información General</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required>
                <label>Nombre de la convocatoria</label>
              </div>
            </div>
            <div class="col-sm-12">
                <select class="form-control">
                  <option selected>Elija una Universidad</option>
                  <option value="1">Universidad Modelo</option>
                  <option value="2">Instituto Tecnológico de Conkal</option>
                </select>
                <br>
            </div>
            <div class="col-sm-6">
              <div class="md-form-group">
                <input class="md-input has-value" name="datePicker1" id="datePicker1" required readonly type="text">
                <label for="datePicker">Fecha Inicio</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="md-form-group">
                <input class="md-input has-value" name="datePicker2" id="datePicker2" required readonly type="text">
                <label>Fecha Final</label>
              </div>
            </div>
            <div class="col-sm-12">
                <label>Subir Archivo (PDF)</label>
                <br>
                <input class="md-input" required type="file">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-center">
    <div class="col-md-7 col-center">
      <div class="pull-right">
        <button class="btn btn-lg btn-success">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>