<script type="text/javascript">
		$(document).ready(function(){
		    $('#dt00').DataTable();
		});
</script>
<style type="text/css">
	.tabs-convocatorias li a{
		color: white;
		font-size: 20px;
	}
	.tabs-convocatorias li.active a{
		color: white;
		font-size: 20px;
	}
</style>
<div class="md-whiteframe-z0">
	<ul class="nav nav-lines nav-tabs nav-justified grey-800 tabs-convocatorias">
		<li>
			<a href="" data-toggle="tab" data-target="#tab_1">TODAS</a>
		</li>
		<li class="active">
			<a href="" data-toggle="tab" data-target="#tab_2">ACTIVAS</a>
		</li>
		<li>
			<a href="" data-toggle="tab" data-target="#tab_3">PRÓXIMAS</a>
		</li>
		<li>
			<a href="" data-toggle="tab" data-target="#tab_4">PASADAS</a>
		</li>
	</ul>
	<div class="tab-content p m-b-md clear b-t b-t-2x">
		<div role="tabpanel" class="tab-pane animated fadeIn" id="tab_1">
			<div class="panel panel-card p table-responsive">
				<table class="table table-striped table-bordered" id="dt">
					<thead>
						<tr>
							<th>Convocatoria</th>
							<th>Universidad</th>
							<th style="text-align:center;">Fecha Inicio</th>
							<th style="text-align:center;">Fecha Final</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr role="row">
							<td style="vertical-align:middle;">Convocaria de Emprendimiento ESR</td>
							<td style="vertical-align:middle;">Universidad Modelo</td>
							<td style="text-align:center;vertical-align:middle;">19 de Septiembre</td>
							<td style="text-align:center;vertical-align:middle;">10 de Noviembre </td>
							<td>
								<div class="hidden-xs hidden-sm pull-right">
									<a target="_blank" href="pdfs/stamina_convocatoria.pdf" class="btn btn-sm btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</a>
									<button ui-sref='admin.announcement.edit' class="btn btn-sm btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
								<div class="hidden-md hidden-lg pull-right">
									<button class="btn btn-xs btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</button>
									<button ui-sref='admin.announcement.edit' class="btn btn-xs btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-xs btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
							</td>
						</tr>
						<tr role="row">
							<td style="vertical-align:middle;">Convocaria de TIC's</td>
							<td style="vertical-align:middle;">Universidad UNID</td>
							<td style="text-align:center;vertical-align:middle;">12 de Agosto</td>
							<td style="text-align:center;vertical-align:middle;">28 de Octubre </td>
							<td>
								<div class="hidden-xs hidden-sm pull-right">
									<a target="_blank" href="pdfs/stamina_convocatoria.pdf" class="btn btn-sm btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</a>
									<button ui-sref='admin.announcement.edit({id:announce.id})' class="btn btn-sm btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
								<div class="hidden-md hidden-lg pull-right">
									<button class="btn btn-xs btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</button>
									<button ui-sref='admin.announcement.edit' class="btn btn-xs btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-xs btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
							</td>
						</tr>
						<tr role="row">
							<td style="vertical-align:middle;">Convocaria de CleanTech</td>
							<td style="vertical-align:middle;">Instituto Tencologico de Conkal</td>
							<td style="text-align:center;vertical-align:middle;">30 de Septiembre</td>
							<td style="text-align:center;vertical-align:middle;">22 de Noviembre </td>
							<td>
								<div class="hidden-xs hidden-sm pull-right">
									<a target="_blank" href="pdfs/stamina_convocatoria.pdf" class="btn btn-sm btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</a>
									<button ui-sref='admin.announcement.edit({id:announce.id})' class="btn btn-sm btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
								<div class="hidden-md hidden-lg pull-right">
									<button class="btn btn-xs btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</button>
									<button ui-sref='admin.announcement.edit' class="btn btn-xs btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-xs btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane animated fadeIn active" id="tab_2">
			<div class="panel panel-card table-responsive">
				<table class="table table-striped b-t b-b">
					<thead>
						<tr>
							<th>Convocatoria</th>
							<th>Universidad</th>
							<th style="text-align:center;">Fecha Inicio</th>
							<th style="text-align:center;">Fecha Final</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr role="row" ng-repeat="announce in announcesList">
							<td style="vertical-align:middle;">{{announce.nombre}}</td>
							<td style="vertical-align:middle;">{{announce.universidad.nombre}}</td>
							<td style="text-align:center;vertical-align:middle;">{{announce.fecha_inicio}}</td>
							<td style="text-align:center;vertical-align:middle;">{{announce.fecha_cierre}}</td>
							<td>
								<div class="hidden-xs hidden-sm pull-right">
									<a target="_blank" href="{{announce.path}}" class="btn btn-sm btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</a>
									<button ui-sref='admin.announcement.edit({id:announce.id})' class="btn btn-sm btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
								<div class="hidden-md hidden-lg pull-right">
									<button class="btn btn-xs btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</button>
									<button ui-sref='admin.announcement.edit' class="btn btn-xs btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-xs btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane animated fadeIn" id="tab_3">
			<div class="panel panel-card table-responsive">
				<table class="table table-striped b-t b-b">
					<thead>
						<tr>
							<th>Convocatoria</th>
							<th>Universidad</th>
							<th style="text-align:center;">Fecha Inicio</th>
							<th style="text-align:center;">Fecha Final</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr role="row">
							<td style="vertical-align:middle;">Convocaria de CleanTech</td>
							<td style="vertical-align:middle;">Instituto Tencologico de Conkal</td>
							<td style="text-align:center;vertical-align:middle;">30 de Septiembre</td>
							<td style="text-align:center;vertical-align:middle;">22 de Noviembre </td>
							<td>
								<div class="hidden-xs hidden-sm pull-right">
									<a target="_blank" href="pdfs/stamina_convocatoria.pdf" class="btn btn-sm btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</a>
									<button ui-sref='admin.announcement.edit({id:announce.id})' class="btn btn-sm btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
								<div class="hidden-md hidden-lg pull-right">
									<button class="btn btn-xs btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</button>
									<button ui-sref='admin.announcement.edit' class="btn btn-xs btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-xs btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
							</td>
						</tr>
						<tr role="row">
							<td style="vertical-align:middle;">Convocaria de Emprendimiento ESR</td>
							<td style="vertical-align:middle;">Universidad Modelo</td>
							<td style="text-align:center;vertical-align:middle;">19 de Septiembre</td>
							<td style="text-align:center;vertical-align:middle;">10 de Noviembre </td>
							<td>
								<div class="hidden-xs hidden-sm pull-right">
									<a target="_blank" href="pdfs/stamina_convocatoria.pdf" class="btn btn-sm btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</a>
									<button ui-sref='admin.announcement.edit({id:announce.id})' class="btn btn-sm btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
								<div class="hidden-md hidden-lg pull-right">
									<button class="btn btn-xs btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</button>
									<button ui-sref='admin.announcement.edit' class="btn btn-xs btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-xs btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane animated fadeIn" id="tab_4">
			<div class="panel panel-card table-responsive">
				<table class="table table-striped b-t b-b">
					<thead>
						<tr>
							<th>Convocatoria</th>
							<th>Universidad</th>
							<th style="text-align:center;">Fecha Inicio</th>
							<th style="text-align:center;">Fecha Final</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr role="row">
							<td style="vertical-align:middle;">Convocaria de Emprendimiento ESR</td>
							<td style="vertical-align:middle;">Universidad Modelo</td>
							<td style="text-align:center;vertical-align:middle;">19 de Mayo</td>
							<td style="text-align:center;vertical-align:middle;">18 de Julio </td>
							<td>
								<div class="hidden-xs hidden-sm pull-right">
									<a target="_blank" href="pdfs/stamina_convocatoria.pdf" class="btn btn-sm btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</a>
									<button ui-sref='admin.announcement.edit({id:announce.id})' class="btn btn-sm btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
								<div class="hidden-md hidden-lg pull-right">
									<button class="btn btn-xs btn-info waves-effect" tooltip="Ver">
										<i class="fa fa-file"></i>
									</button>
									<button ui-sref='admin.announcement.edit' class="btn btn-xs btn-success waves-effect" tooltip="Editar">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-xs btn-danger waves-effect" tooltip="Eliminar">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<a ui-sref='admin.announcement.add' class="md-btn md-fab md-fab-bottom-right pos-fix teal">
  <i class="mdi-content-add i-24"></i>
</a>