<div class="box-inner padding">
  <div class="row row-center">
    <div class="col-md-7 col-center">
      <button class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</button>
    </div>
  </div>
  <div class="row row-center">
    <div class="col-md-7 col-center">
      <div class="card">
        <div class="card-heading">
          <h2>Información General</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required ng-model="announce.nombre">
                <label>Nombre de la convocatoria</label>
              </div>
            </div>
            <div class="col-sm-12">
                <select class="form-control" ng-model="announce.universidad">
                  <option selected value="">Elija una Universidad</option>
                  <option ng-repeat="university in univesityList" value="{{university.universidad_id}}">{{university.nombre}}</option>
                </select>
                <br>
            </div>
            <div class="col-sm-6">
              <div class="md-form-group float-label">
                <input class="md-input has-value" required type="date"  ng-model="announce.fecha_inicio">
                <label>Fecha Inicio</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="md-form-group float-label">
                <input class="md-input has-value" required type="date"  ng-model="announce.fecha_final">
                <label>Fecha Final</label>
              </div>
            </div>
            <div class="col-sm-12">
                <label>Subir Archivo (PDF)</label>
                <br>
                <input class="md-input" required type="file">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-center">
    <div class="col-md-7 col-center">
      <div class="pull-right">
        <button class="btn btn-lg btn-success" ng-click="addAnnouncement(announce)">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>