<div class="box-inner padding">
  <div class="row row-center">
    <div class="col-md-9 col-center">
    <a href="mentor" class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</a>
    </div>
  </div>

<form name="form" ng-submit='add()'>
  <div class="row row-center">
    <div class="col-md-5 col-center">
      <div class="card">
        <div class="card-heading">
          <h2>Información General</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required ng-model='form.name'>
                <label>Nombre del mentor</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required ng-model='form.area'>
                <label>Área</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <textarea class="md-input" rows="3" ng-model='form.description'></textarea>
                <label>Descripción</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-center">
      <div class="card">
        <div class="card-heading">
          <h2>Datos de acceso</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required ng-model='form.email'>
                <label>Correo Electrónico</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required ng-model='form.pass'>
                <label>Contraseña</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required ng-model='form.confirmpass'>
                <label>Repetir Contraseña</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-center">
    <div class="col-md-9 col-center">
      <div class="pull-right">
        <button class="btn btn-lg btn-success">
          Guardar
        </button>
      </div>
    </div>
  </div>
</form>
</div>