<div class="box-inner padding" ng-init='getDataUser(id)'>
    <div class="row row-center">
        <div class="col-md-9 col-center">
            <a href="mentor/view/{{id}}" class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</a>
        </div>
    </div>
    <div class="row row-center">
        <div class="col-md-5 col-center">
            <div class="card">
                <div class="card-heading">
                    <h2>Información General</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required ng-model='user.nombre' ng-value="user.nombre">
                                <label>Nombre
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required ng-model='user.paterno' ng-value="user.paterno">
                                <label>Apelido paterno
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required ng-model='user.paterno' ng-value="user.materno">
                                <label>Apellido materno
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required ng-model='user.cargo'>
                                <label>Cargo</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <textarea class="md-input has-value" rows="3" required ng-model='user.descr'></textarea>
                                <label>Descripción</label>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div id="message"></div>
                            <button ng-click="update(user)" class="btn btn-lg btn-success">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-left">
            <div class="card">
                <div class="card-heading">
                    <h2>Foto del mentor</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <img style="width: 400px; height: auto;" ngf-thumbnail="photo || 'images/not_image/3.jpg'" ng-src="{{user.imagen}}">
                    </div>
                </div>
                <div class="card-heading col-center">
                    <button class="md-btn md-raised m-b bg-white waves-effect" ngf-select ng-model="photo" name="photo" ngf-accept="'image/*'">
                        Seleccionar foto  
                    </button>
                    <button class="md-btn md-raised m-b bg-success waves-effect" ng-click="upload(photo)">
                        Guardar foto
                    </button>
                </div>
                <div id="message"></div>
            </div>
        </div>

        <!--div class="col-md-4 col-left">
            <div class="card">
                <div class="card-heading">
                    <h2>Datos de acceso</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required value="{{user.email}}">
                                <label>Correo Electrónico</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" type="password" required value="cualquiercosaxd">
                                <label>Contraseña</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" type="password" required value="cualquiercosaxd">
                                <label>Repetir Contraseña</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div-->
    </div>
</div>