<div class="box-inner padding">
<div class="m-b-lg">
  <div class="panel-card bg-white p clearfix m-b-xs" ng-repeat='menthor in menthorsList'>
    <div class="pull-right text-sm text-muted">
      <button ui-sref="admin.menthor.view({id:menthor.mentor_id})" class="btn btn-sm btn-info waves-effect" tooltip="Ver">
        <i class="fa fa-eye"></i>
      </button>
      <button ui-sref="admin.menthor.edit({id:menthor.mentor_id})" class="btn btn-sm btn-success waves-effect" tooltip="Editar">
        <i class="fa fa-pencil"></i>
      </button>
      <button class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
        <i class="fa fa-trash-o"></i>
      </button>    
    </div>
    <div class="row">
      <div class="col-md-1">
        <!--<a class="pull-left m-r">-->
          <img ng-src="images/a10.jpg" class="img-responsive rounded" src="images/a9.jpg">
        <!--</a>-->
      </div>
      <div class="clear col-md-9">
        <a ui-sref='admin.menthor.view({id:menthor.mentor_id})'>
          <div>
            <h4 class="text-md ng-binding" style="margin:0px;">
              {{menthor.persona.nombre}} {{menthor.persona.apellido_paterno}} {{menthor.persona.apellido_materno}}
            </h4>
          </div>
          <strong>
            {{menthor.cargo}}
          </strong>
          <!--<span class="label bg-light m-l-sm ng-binding">angular</span>-->
          <div class="text-ellipsis m-t-xs text-muted-dk text-sm ng-binding">          
          {{menthor.descr}}
          </div>
        </a>
      </div>      
    </div>
  </div>
</div>
</div>
<a ui-sref='admin.menthor.add' class="md-btn md-fab md-fab-bottom-right pos-fix teal">
  <i class="mdi-content-add i-24"></i>
</a>