<!-- <h1>{{text}}</h1>

<button ng-click="users()">users list</button>
<pre>
	{{userList}}
</pre>
<hr>
<div ng-repeat='user in userList'>
	<input type="text" ng-model='user.name'>
	<h3>{{user.id}}</h3>
	<strong>{{user.name}}</strong>
	<p>{{user.address}}</p>
</div> -->
<div class="box-inner padding">
<div class="m-b-lg">
  <div class="panel-card bg-white p clearfix m-b-xs">
    <div class="pull-right text-sm text-muted">
      <a href="edit.menthor.html" class="btn btn-sm btn-info waves-effect" tooltip="Editar">
        <i class="fa fa-pencil"></i>
      </a>
      <a class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-md-1">
        <!--<a class="pull-left m-r">-->
          <img ng-src="images/a10.jpg" class="img-responsive rounded" src="images/a9.jpg">
        <!--</a>-->
      </div>
      <div class="clear col-md-10">
        <a ui-sref='admin.menthor.view'>
          <div>
            <h4 class="text-md ng-binding" ui-sref='admin.menthor.view' style="margin:0px;">Gabriel Regalado Sanchez</h4>
          </div>
          <strong>Engineer in informatics systems</strong>
          <!--<span class="label bg-light m-l-sm ng-binding">angular</span>-->
          <div class="text-ellipsis m-t-xs text-muted-dk text-sm ng-binding">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </div>
        </a>
      </div>      
    </div>
  </div>
  <div class="panel-card bg-white p clearfix m-b-xs">
    <div class="pull-right text-sm text-muted">
      <a href="edit.menthor.html" class="btn btn-sm btn-info waves-effect" tooltip="Editar">
        <i class="fa fa-pencil"></i>
      </a>
      <a class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-md-1">
        <!--<a class="pull-left m-r">-->
          <img ng-src="images/a10.jpg" class="img-responsive rounded" src="images/a9.jpg">
        <!--</a>-->
      </div>
      <div class="clear col-md-10">
        <a href="view.mentor.html">
          <div>
            <h4 class="text-md ng-binding" href="#/app/inbox/10" style="margin:0px;">Gabriel Regalado Sanchez</h4>
          </div>
          <strong>Engineer in informatics systems</strong>
          <!--<span class="label bg-light m-l-sm ng-binding">angular</span>-->
          <div class="text-ellipsis m-t-xs text-muted-dk text-sm ng-binding">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </div>
        </a>
      </div>      
    </div>
  </div>
  <div class="panel-card bg-white p clearfix m-b-xs">
    <div class="pull-right text-sm text-muted">
      <a href="edit.menthor.html" class="btn btn-sm btn-info waves-effect" tooltip="Editar">
        <i class="fa fa-pencil"></i>
      </a>
      <a class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-md-1">
        <!--<a class="pull-left m-r">-->
          <img ng-src="images/a10.jpg" class="img-responsive rounded" src="images/a9.jpg">
        <!--</a>-->
      </div>
      <div class="clear col-md-10">
        <a href="view.mentor.html">
          <div>
            <h4 class="text-md ng-binding" href="#/app/inbox/10" style="margin:0px;">Gabriel Regalado Sanchez</h4>
          </div>
          <strong>Engineer in informatics systems</strong>
          <!--<span class="label bg-light m-l-sm ng-binding">angular</span>-->
          <div class="text-ellipsis m-t-xs text-muted-dk text-sm ng-binding">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </div>
        </a>
      </div>      
    </div>
  </div>
  <div class="panel-card bg-white p clearfix m-b-xs">
    <div class="pull-right text-sm text-muted">
      <a href="edit.menthor.html" class="btn btn-sm btn-info waves-effect" tooltip="Editar">
        <i class="fa fa-pencil"></i>
      </a>
      <a class="btn btn-sm btn-danger waves-effect" tooltip="Eliminar">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-md-1">
        <!--<a class="pull-left m-r">-->
          <img ng-src="images/a10.jpg" class="img-responsive rounded" src="images/a9.jpg">
        <!--</a>-->
      </div>
      <div class="clear col-md-10">
        <a href="view.mentor.html">
          <div>
            <h4 class="text-md ng-binding" href="#/app/inbox/10" style="margin:0px;">Gabriel Regalado Sanchez</h4>
          </div>
          <strong>Engineer in informatics systems</strong>
          <!--<span class="label bg-light m-l-sm ng-binding">angular</span>-->
          <div class="text-ellipsis m-t-xs text-muted-dk text-sm ng-binding">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </div>
        </a>
      </div>      
    </div>
  </div>
</div>
</div>
<a ui-sref='admin.menthor.add' class="md-btn md-fab md-fab-bottom-right pos-fix teal">
  <i class="mdi-content-add i-24"></i>
</a>