<div class="box-inner padding" ng-init='getDataUser(id)'>
    <div class="row row-center">
        <div class="col-md-9 col-center">
            <a href="mentor/view/{{id}}" class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</a>
        </div>
    </div>
    <div class="row row-center">
        <div class="col-md-5 col-center">
            <div class="card">
                <div class="card-heading">
                    <h2>Información General</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required value="{{user.nombre}}">
                                <label>Nombre
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required value="{{user.paterno}}">
                                <label>Apelido paterno
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required value="{{user.materno}}">
                                <label>Apellido materno
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required value="{{user.estatus.descr}}">
                                <label>Cargo</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <textarea class="md-input has-value" rows="3">{{user.estatus.descr}}</textarea>
                                <label>Descripción</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-center">
            <div class="card">
                <div class="card-heading">
                    <h2>Datos de acceso</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" required value="{{user.email}}">
                                <label>Correo Electrónico</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" type="password" required value="cualquiercosaxd">
                                <label>Contraseña</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <input class="md-input has-value" type="password" required value="cualquiercosaxd">
                                <label>Repetir Contraseña</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-center">
        <div class="col-md-9 col-center">
            <div class="pull-right">
                <button class="btn btn-lg btn-success">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>