<div class="box-inner padding">
	<div class="row row-center">
	  <div class="col-md-6 col-center">
	    <div class="panel panel-card">
	      <div class="item">
	        <img src="images/c5.jpg" class="w-full r-t" alt="Washed Out">
	      </div>
	      <a href="edit.menthor.html" class="md-btn md-fab md-raised indigo m-r md-fab-offset pull-right waves-effect"><i class="mdi mdi-editor-mode-edit i-24"></i></a>
	      <div class="p">
	        <h3>Nombre del mentor</h3>
	        <h4>Cargo del mentor</h4>
	        <p>
	          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
	          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	        </p>
	      </div>
	    </div>
	  </div>
	</div>
</div>