<div class="box-inner padding" ng-init='getDataUser(id)'>
	<div class="row row-center">
        <div class="col-md-9 col-center">
            <a href="mentor" class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</a>
        </div>
    </div>
	<div class="row row-center">
	  <div class="col-md-6 col-center">
	    <div class="panel panel-card">
	      <div class="item">
	        <img ng-src="{{user.imagen}}" src="images/not_image/3.jpg" class="w-full r-t" alt="{{user.nombre}}">
	      </div>
	      <a ui-sref='admin.menthor.edit({id:id})' class="md-btn md-fab md-raised indigo m-r md-fab-offset pull-right waves-effect"><i class="mdi mdi-editor-mode-edit i-24"></i></a>
	      <div class="p">
	        <h3>{{user.nombre}} {{user.paterno}} {{user.materno}}</h3>
	        <strong>{{user.cargo}}</strong>
	        <h4>{{user.descr}}</h4>
	      </div>
	    </div>
	  </div>
	</div>
</div>