<div class="box-inner padding" ng-init='getDataUser(id)'>
  <div class="row row-center">
        <div class="col-md-9 col-center">
            <a href="mentor" class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</a>
        </div>
    </div>
    <fieldset>
      <form name="form">
        <div class="row row-center">
          <div class="col-md-4 col-center">
            <div class="panel panel-card" style="height: 400px; width: 400px;">
              <div class="item">
                <img style="height:400px;width:400px;align-content:center;" ng-show="form.file.$valid" ngf-thumbnail="picFile">
              </div>                           
            </div>
            <div class="panel panel-card" style="width: 400px;">
                <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile" class="">
                <strong ng-show="form.file.$error.maxSize">Archivo demasiado grande {{errorFile.size / 1000000|number:1}}MB: max 2M</strong>
            </div> 
          </div>
        </div>
        <div class="row row-center">
          <div class="col-md-9 col-center">
              <div class="pull-right">
                    <button ng-disabled="!form.$valid" 
              ng-click="uploadPic(picFile)">Enviar</button>
              </div>
          </div>
        </div>
      </form>
    </fieldset>
</div>