<div class="box-inner padding">
  <div class="row row-center">
    <div class="col-md-9 col-center">
      <button class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</button>
    </div>
  </div>
  <div class="row row-center">
    <div class="col-md-5 col-center">
      <div class="card">
        <div class="card-heading">
          <h2>Información General</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required>
                <label>Nombre de la universidad</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input has-value" required type="date">
                <label>Fecha Inicio del servicio</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input has-value" required type="date">
                <label>Fecha Final del servicio</label>
              </div>
            </div>
            <div class="col-sm-12">
                <label>Subir Logo</label>
                <br>
                <input class="md-input" required type="file">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-center">
      <div class="card">
        <div class="card-heading">
          <h2>Información de Acceso</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required>
                <label>Nombre de usuario</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required>
                <label>Contraseña</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required>
                <label>Repetir Contraseña</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-center">
    <div class="col-md-9 col-center">
      <div class="pull-right">
        <button class="btn btn-lg btn-success">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>