<script type="text/javascript" src="jqueryTimepicker/lib/bootstrap-datepicker.js"></script>
<script>
      $.fn.datepicker.dates['es'] = {
          days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
          daysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
          daysMin: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
          months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
          monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
          today: "Hoy",
          clear: "Limpiar"
          };
      $(function(){
        $("#datePicker1").datepicker({
          language:"es",
          orientation:"top auto",
          format: "yyyy-mm-dd",
          autoclose: true
        });
        $("#datePicker2").datepicker({
          language:"es",
          orientation:"top auto",
          format: "yyyy-mm-dd",
          autoclose: true
        });
      });
</script>
<div class="box-inner padding">
  <div class="row row-center">
    <div class="col-md-9 col-center">
      <button ui-sref="admin.university.list" class="md-btn md-raised m-b btn-fw bg-white waves-effect">Regresar</button>
    </div>
  </div>
  <div class="row row-center">
    <div class="col-md-5 col-center">
      <div class="card">
        <div class="card-heading">
          <h2>Información General</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input has-value" required ng-model="university.nombre">
                <label>Nombre de la universidad</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input has-value" required ng-model="university.fecha_inicio_servicio" id="datePicker1">
                <label>Fecha Inicio del servicio</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input has-value" required ng-model="university.fecha_final_servicio" id="datePicker2">
                <label>Fecha Final del servicio</label>
              </div>
            </div>
            <div class="col-sm-12">
                <label>Subir Logo</label>
                <br>
                <!-- <input class="md-input" type="file" name="file" required ng-model="file"> -->
                <input class="md-input" type="file" ngf-select ng-model="file" name="file" accept="image/*" ngf-max-size="2MB" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-center">
      <div class="card">
        <div class="card-heading">
          <h2>Información de Acceso</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input has-value" required ng-model="university.user.email">
                <label>Correo Electrónico</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="md-form-group float-label">
                <input class="md-input" required ng-model="university.pass">
                <label>Cambiar Contraseña</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-center">
    <div class="col-md-9 col-center">
      <div class="pull-right">
        <button type="button" class="btn btn-lg btn-success" ng-click="editUniversity(university, file)">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>