<style type="text/css">
	.img_corner{
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
	.app{
		overflow-x: hidden;
	}
	.blue{
		background-color: #5A9AB7;
	}
	.yellow{
		background-color: #FEEE00;
	}
</style>
<div class="app yellow">
	<div class="box-inner">
		<div class="row blue text-center">
			<div class="col-md-12 m-b-lg m-t-lg">
				<h1 class="text-center">Bienvenido al sistema Future Makers</h1>
			</div>
		</div>
		<div class="row yellow text-center">
			<div class="col-md-12 m-b-lg m-t-lg">
				<img src="images/futuremakers.png">
			</div>
		</div>
		<div class="row text-center pos">
			<div class="col-md-12 m-b-lg m-t-lg">
				<img src="images/stamina.png">
			</div>
		</div>
	</div>
<img class="img-responsive img_corner hidden-sm hidden-xs" src="images/plataformaemprendedor/jobs.png">
</div>