<style type="text/css">
  .card-body{
    padding-top: 5px !important;
  }
  .red-900{
    background: #212121;
    background: #c12e3b;
    background: #FFFFFF;
    background: #212121;
    color: white;
    /*color: #5a9ab7 !important;*/
  }
  .toolbar-custom{
    color: #212121 !important;
    color: white !important;
  }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
  }
  @media screen and (max-width: 767px) and (min-width: 268px) {
  }
  .btn-custom{
    color: #212121 !important;
  }
  .btn-custom:hover{
    color: #ffffff !important;
    background-color: #212121 !important;
    border-color: #212121 !important;
    border-radius: 15px;
  }
  .card-redonded{
    border-radius: 15px;
  }
</style>
<div class="box-inner padding">
  <div class="row row-center">
    <div class="col-lg-10 col-md-11 col-sm-11 col-xs-12 col-center">
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center">
          <br class="hidden-xs hidden-sm">
          <br class="hidden-xs hidden-sm">
          <br class="hidden-xs hidden-sm">
          <img src="images/not_image/3.jpg" class="w-full circle md-whiteframe-z1">
          <br>
          <br>
          <!--<button ui-sref='entrepreneur.dashboard' md-ink-ripple="" class="btn-custom btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw bg-white">
            <i class="mdi-image-image i-20"></i> Cambiar Foto
          </button>-->
          <!--<br><br>
          <span class="label bg-white label-lg">Gabriel Regalado Sanchez</span>-->
        </div>
        <div class="col-lg-8 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card card-redonded md-whiteframe-z1">
                <div class="card-heading">
                  <h2>Información Básica</h2>
                </div>
                <div class="card-tools">
                  <button ng-if="valEditInfoBasic" ng-click="editInfoBasic()" md-ink-ripple="" class="btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw btn-custom">
                    <i class="mdi-editor-mode-edit i-20"></i>EDITAR
                  </button>
                  <button ng-if="valSaveInfoBasic" ng-click="saveInfoBasic(datos)" md-ink-ripple="" class="btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw btn-custom">
                    <i class="mdi-content-save i-20"></i>GUARDAR
                  </button>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="md-form-group float-label">
                        <input class="md-input has-value" disabled ng-model="datos.nombre" id="user_nombres">
                        <label>Nombre(s)</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form-group float-label">
                        <input class="md-input has-value" disabled ng-model="datos.paterno" id="user_apellido_pat">
                        <label>Apellido Paterno</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form-group float-label">
                        <input class="md-input has-value" disabled ng-model="datos.materno" id="user_apellido_mat">
                        <label>Apellido Materno</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="md-form-group float-label">
                        <input type="date" class="md-input has-value" disabled value="26/12/1992" id="user_nacimiento">
                        <label>Fecha de nacimiento</label>
                      </div>
                    </div>
                    <div class="col-md-4" style="margin-top:-8px;">
                      <small>Género</small>
                      <div class="">
                        <select class="form-control has-value" disabled id="user_genero">
                          <option>Elija una opción</option>
                          <option selected>Másculino</option>
                          <option>Femenino</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card card-redonded md-whiteframe-z1">
                <div class="card-heading">
                  <h2>Información de Contacto</h2>
                </div>
                <div class="card-tools">
                  <button ng-if="valEditInfoContac" ng-click="editInfoContac()" md-ink-ripple="" class="btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw btn-custom">
                    <i class="mdi-editor-mode-edit i-20"></i>EDITAR
                  </button>
                  <button ng-if="valSaveInfoContac" ng-click="saveInfoContac(datos)" md-ink-ripple="" class="btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw btn-custom">
                    <i class="mdi-content-save i-20"></i>GUARDAR
                  </button>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="md-form-group float-label">
                        <input type="email" class="md-input has-value" disabled ng-model="datos.email" id="user_email">
                        <label>Correo Electrónico</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="md-form-group float-label">
                        <input class="md-input has-value" disabled ng-model="datos.telefono" id="user_telefono">
                        <label>Teléfono</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>