<style type="text/css">
	.col-custom{
		padding-left: 45px;
		padding-right: 45px;
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.col-custom .item h3{
		width: 100%;
		position: absolute;
		margin-top: 10px;
		font-size: 21px;
		text-align: center;
	}
	.col-custom a:hover img{
		box-shadow: 0px 0px 45px #5a9ab7;
		box-shadow: 0px 0px 10px #5a9ab7;
		box-shadow: 3px 3px 25px #3c3c3c;
		border: solid #5a9ab7 2px;
	}
</style>
<div class="row row-center">
	<div class="col-lg-11 col-md-12 col-sm-12 col-xs-12 col-center">
		<div class="row row-center row-custom">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 col-center col-custom">
				<div class="">
					<div class="item">
						<a ui-sref='entrepreneur.announcements'>
							<img src="images/plataformaemprendedor/def/1.png" class="w-full circle" alt="Washed Out">
						</a>
						<center>
							<h3>
								Convocatorias
							</h3>
						</center>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 col-center col-custom">
				<div class="">
					<div class="item">
						<a ui-sref='entrepreneur.profile'>
							<img src="images/plataformaemprendedor/def/1.png" class="w-full circle" alt="Washed Out">
						</a>
						<center>
							<h3>
								Mis Datos
							</h3>
						</center>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 col-center col-custom">
				<div class="">
					<div class="item">
						<a ui-sref='entrepreneur.form'>
							<img src="images/plataformaemprendedor/def/1.png" class="w-full circle" alt="Washed Out">
						</a>
						<center>
							<h3>
								Formulario Aplicación
							</h3>
						</center>
					</div>
				</div>
			</div>
			<!--<div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 col-center col-custom">
				<div class="">
					<div class="item">
						<a href="#">
							<img src="images/plataformaemprendedor/def/1.png" class="w-full circle" alt="Washed Out">
						</a>
						<center>
							<h3>
								Resultados
							</h3>
						</center>
					</div>
				</div>
			</div>-->
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 col-center col-custom">
				<div class="">
					<div class="item">
						<a ui-sref='entrepreneur.menthors'>
							<img src="images/plataformaemprendedor/def/1.png" class="w-full circle" alt="Washed Out">
						</a>
						<center>
							<h3>
								Mentores / Ponentes
							</h3>
						</center>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 col-center col-custom">
				<div class="">
					<div class="item">
						<a ui-sref='entrepreneur.faqs'>
							<img src="images/plataformaemprendedor/def/1.png" class="w-full circle" alt="Washed Out">
						</a>
						<center>
							<h3>
								Preguntas Frecuentes
							</h3>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>