<style type="text/css">
	.universidad-panel{
		margin-bottom: 40px;
	}
	.red-900{
		background: #5a9ab7;
		background: #c12e3b;
		background: #212121;
		/*color: #5a9ab7 !important;*/
	}
	body{
		background: #5a9ab7;
	}
	.img_corner{
		position: absolute;
		bottom: 0px;
		right: 0px;
		height: 340px;
	}
	.btn-custom{
		background: #e13949 !important;
		color: white;
	}
	/*.item-hover{
		position: relative;
		display: inline-block;
		overflow: hidden;
	}
	.item-hover:hover .btn-custom{
		margin: auto;
		top: 0;
		display: block;
		background-position: 0 0;
	}*/

	.item-hover:hover .btn-custom {
		opacity: 1; /* added */
		z-index: 500;
		top: 40%;
		bottom: 10%;
		position: absolute;
		left: 12.5%;
		right: 0;
		color: white !important;
		border-radius: 15px;
	}
	.item-hover .btn-custom{
		display: block;
		position: absolute;
		top: 0;
		opacity: 0;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
		color: inherit;
	}
</style>
<div class="box-inner padding">
	<div class="row row-center">
		<div class="col-lg-10 col-md-11 col-sm-12 col-xs-12 col-center">
			<button ui-sref='entrepreneur.dashboard' md-ink-ripple="" class="btn btn-rounded btn-stroke btn-addon bg-white b-2x m-b btn-fw">
				<i class="mdi-navigation-arrow-back i-24"></i>Regresar
			</button>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center">
			<br>
			<h2 class="text-center" style="color:white;text-transform:uppercase;">Aplica a una de nuestras convocatorias</h2>
			<br>
			<br>
			<div class="row row-center">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-center">
					<div class="universidad-panel">
						<div class="item item-hover">
							<img src="images/universidades/logo_modelo.png" class="w-full r-t" alt="Washed Out">
							<button ui-sref='entrepreneur.announcement' md-ink-ripple="" class="btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw bg-white btn-custom">
								<i class="mdi-file-attachment i-20"></i> Convocatoria
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-center">
					<div class="universidad-panel">
						<div class="item item-hover">
							<img src="images/universidades/logo_conkal.png" class="w-full r-t" alt="Washed Out">
							<button ui-sref='entrepreneur.announcement' md-ink-ripple="" class="btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw bg-white btn-custom">
								<i class="mdi-file-attachment i-20"></i> Convocatoria
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-center">
					<div class="universidad-panel">
						<div class="item item-hover">
							<img src="images/universidades/logo_tlaxcala.png" class="w-full r-t" alt="Washed Out">
							<button ui-sref='entrepreneur.announcement' md-ink-ripple="" class="btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw bg-white btn-custom">
								<i class="mdi-file-attachment i-20"></i> Convocatoria
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-center">
					<div class="universidad-panel">
						<div class="item item-hover">
							<img src="images/universidades/logo_unacar.png" class="w-full r-t" alt="Washed Out">
							<button ui-sref='entrepreneur.announcement' md-ink-ripple="" class="btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw bg-white btn-custom">
								<i class="mdi-file-attachment i-20"></i> Convocatoria
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-center">
					<div class="universidad-panel">
						<div class="item item-hover">
							<img src="images/universidades/logo_veracruz.png" class="w-full r-t" alt="Washed Out">
							<button ui-sref='entrepreneur.announcement' md-ink-ripple="" class="btn btn-stroke b-2x m-b btn-fw md-btn md-raised m-b btn-fw bg-white btn-custom">
								<i class="mdi-file-attachment i-20"></i> Convocatoria
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img class="img-responsive img_corner" src="images/plataformaemprendedor/tesla.png">
</div>