<div class="row row-center">
	<div class="col-lg-10 col-md-11 col-sm-11 col-xs-12 col-center">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="panel panel-card">
					<div class="item">
						<a ui-sref='entrepreneur.announcements'>
							<img src="images/plataformaemprendedor/convocatorias.png" class="w-full r-t" alt="Washed Out">
							<div class="bottom text-black p text-center">
								<h3>Convocatorias</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="panel panel-card">
					<div class="item">
						<a ui-sref='entrepreneur.faqs'>
							<img src="images/plataformaemprendedor/faqs.png" class="w-full r-t" alt="Washed Out">
							<div class="bottom text-black p text-center">
								<h3>Preguntas Frecuentes</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="panel panel-card">
					<div class="item">
						<a ui-sref='entrepreneur.form'>
							<img src="images/plataformaemprendedor/aplicacion.png" class="w-full r-t" alt="Washed Out">
							<div class="bottom text-black p text-center">
								<h3>Formulario de Aplicación</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="panel panel-card">
					<div class="item">
						<a ui-sref='entrepreneur.menthors'>
							<img src="images/plataformaemprendedor/ponentes.png" class="w-full r-t" alt="Washed Out">
							<div class="bottom text-black p text-center">
								<h3>Ponentes / Mentores</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="panel panel-card">
					<div class="item">
						<a ui-sref='entrepreneur.profile'>
							<img src="images/plataformaemprendedor/misdatos.png" class="w-full r-t" alt="Washed Out">
							<div class="bottom text-black p text-center">
								<h3>Mis Datos</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>