<style type="text/css">
  .card-body{
    padding-top: 5px !important;
  }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
  }
  @media screen and (max-width: 767px) and (min-width: 268px) {
  }
</style>
<div class="row row-center">
  <div class="col-lg-9 col-md-9 col-sm-10 col-xs-11 col-center">
    <button ui-sref='entrepreneur.dashboard' md-ink-ripple="" class="btn btn-rounded btn-stroke btn-addon bg-white b-2x m-b btn-fw">
      <i class="mdi-navigation-arrow-back i-24"></i>Regresar
    </button>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-10 col-xs-11 col-center">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="images/mentores/mentor.jpg" class="w-full circle">
        <br><br>
        <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw bg-white">Cambiar Foto<div class="md-ripple-container"></div></button>
        <br><br>
        <span class="label label-lg">Gabriel Regalado Sanchez</span>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-heading">
                <h2>Información Básica</h2>
              </div>
              <div class="card-tools">
                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">Editar</button>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="md-form-group float-label">
                      <input class="md-input has-value" disabled value="Gabriel">
                      <label>Nombre(s)</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="md-form-group float-label">
                      <input class="md-input has-value" disabled value="Regalado">
                      <label>Apellido Paterno</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="md-form-group float-label">
                      <input class="md-input has-value" disabled value="Sanchez">
                      <label>Apellido Materno</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="md-form-group float-label">
                      <input type="date" class="md-input has-value" disabled value="26/12/1992">
                      <label>Fecha de nacimiento</label>
                    </div>
                  </div>
                  <div class="col-md-4" style="margin-top:-8px;">
                    <small>Género</small>
                    <div class="">
                      <select class="form-control has-value" disabled>
                        <option>Elija una opción</option>
                        <option selected>Másculino</option>
                        <option>Femenino</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-heading">
                <h2>Información de Contacto</h2>
              </div>
              <div class="card-tools">
                <button md-ink-ripple="" class="md-btn md-raised m-b btn-fw blue">Editar</button>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="md-form-group float-label">
                      <input type="email" class="md-input has-value" disabled value="isc.resg92@gmail.com">
                      <label>Correo Electrónico</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form-group float-label">
                      <input class="md-input has-value" disabled value="999 318 7691">
                      <label>Teléfono</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>