<div class="box-inner padding">
  <div class="row row-center">
    <div class="col-md-9 col-center">
      <button ui-sref='entrepreneur.dashboard' md-ink-ripple="" class="btn btn-rounded btn-stroke btn-addon bg-white b-2x m-b btn-fw">
        <i class="mdi-navigation-arrow-back i-24"></i>Regresar
      </button>
    </div>
    <div class="col-md-9 col-center">
      <iframe src="ViewerJS/?zoom=page-width#/pdfs/FAQs.pdf" width="100%" height="500px" allowfullscreen webkitallowfullscreen></iframe>
    </div>
  </div>
</div>
<script type="text/javascript">
  
</script>