<style type="text/css">
  .red-900{
    background: #5a9ab7;
    background: #c12e3b;
    background: #fff;
    color: #0e0e0e !important;
    background: #212121;
  }
  body{
    background: #c12e3b;
    background: #5a9ab7;
  }
  .col-custom{
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 30px;
    color: white;
  }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    .col-custom{
      padding-right: 35px;
      padding-left: 35px;
      margin-bottom: 40px !important;
    }
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .col-custom{
      padding-right: 45px !important;
      padding-left: 45px !important;
      margin-bottom: 45px !important;
    }
  }
  @media screen and (max-width: 767px) and (min-width: 268px) {
    .col-custom{
      padding-right: 0px !important;
      padding-left: 0px !important;
      margin-bottom: 20px !important;
    }
  }
  .toolbar-custom{
    color: #212121 !important;
    color: white !important;
  }
</style>
<div class="row row-center">
  <div class="col-lg-10 col-md-11 col-sm-9 col-xs-8 col-center">
    <button ui-sref='entrepreneur.dashboard' md-ink-ripple="" class="btn btn-rounded btn-stroke btn-addon bg-white b-2x m-b btn-fw">
      <i class="mdi-navigation-arrow-back i-24"></i>Regresar
    </button>
  </div>
  <div class="col-lg-10 col-md-11 col-sm-9 col-xs-8 col-center">
    <div class="row row-center">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-custom" ng-repeat="menthor in menthorsList">
        <div class="text-center">
          <img src="images/mentores/mentor.jpg" class="w-full circle md-whiteframe-z1">
          <h4>Gabriel Regalado Sanchez</h4>
          <strong>Desarrollo de software</strong>
        </div>
        <p style="text-align:justify;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <p style="text-align:center;">
          <a href="https://www.facebook.com/" target="_blank">
            <img src="images/redessociales/facebook.png">
          </a>
          <a href="https://www.twitter.com/" target="_blank">
            <img src="images/redessociales/twitter.png">
          </a>
          <a href="https://www.linkedin.com/" target="_blank">
            <img src="images/redessociales/linkedin.png">
          </a>
        </p>
      </div>
    </div>
  </div>
</div>