<div class="box-inner padding">
  <div class="row row-center">
    <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12 col-center">
      <button ui-sref='entrepreneur.dashboard' md-ink-ripple="" class="btn btn-rounded btn-stroke btn-addon bg-white b-2x m-b btn-fw">
        <i class="mdi-navigation-arrow-back i-24"></i>Regresar
      </button>
    </div>
    <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12 col-center">
      <div class="row row-center">
        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-8 col-center">
          <a href="convocatorias.html">
            <div class="text-center">
              <img src="images/mentores/mentor.jpg" class="w-full circle">
              <h4>Gabriel Regalado Sanchez</h4>
              <strong>Desarrollo de software</strong>
            </div>
            <p style="text-align:justify;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodelit, sed do eiusmod.
            </p>
          </a>
        </div>
        <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-8 col-center">
          <a href="convocatorias.html">
            <div class="text-center">
              <img src="images/mentores/mentor.jpg" class="w-full circle">
              <h4>Gabriel Regalado Sanchez</h4>
              <strong>Desarrollo de software</strong>
            </div>
            <p style="text-align:justify;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodelit, sed do eiusmod.
            </p>
          </a>
        </div>
        <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-8 col-center">
          <a href="convocatorias.html">
            <div class="text-center">
              <img src="images/mentores/mentor.jpg" class="w-full circle">
              <h4>Gabriel Regalado Sanchez</h4>
              <strong>Desarrollo de software</strong>
            </div>
            <p style="text-align:justify;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodelit, sed do eiusmod.
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>