<!DOCTYPE html>
<html lang="en">
<head>
  <base href='/'>
  <meta charset="utf-8">
  <title>Test my app</title>
</head>
<body>
  <div ui-view></div>

  <!-- Angular Scripts -->
  <script src="bower_components/angular/angular.js"></script>
  <!-- <script src="/bower_components/angular-route/angular-route.js"></script> -->
  <script src='bower_components/angular-ui-router/release/angular-ui-router.js'></script>
  <script src='app/core/app/config.js'></script>
  <script src='app/core/app/app.js'></script>
  <script src='app/core/core.js'></script>
  <script src='app/core/config/core.routes.js'></script>
  <script src='app/user/user.js'></script>
  <script src='app/user/config/user.routes.js'></script>
  <script src='app/user/controllers/user.controller.js'></script>
  <script src='app/user/services/user.service.js'></script>
</body>
</html>